# --- Telegram Bot Configuration ---
# Получите токен у @BotFather в Telegram
TELEGRAM_TOKEN=7982894431:AAHLWje8rA-4IXceoZ-W0chGkX6s0vGMOVE

# --- OpenAI Configuration ---
OPENAI_API_KEY=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

OPENAI_MODEL=gpt-4o-mini
OPENAI_EMBEDDING_MODEL=text-embedding-3-small

# --- API Configuration ---
# URL для доступа к API из бота (имя сервиса из docker-compose)
API_URL=http://api:8000/query

# --- Database Configuration ---
# Эти значения используются сервисами в docker-compose
POSTGRES_USER=gemini
POSTGRES_PASSWORD=secret
POSTGRES_DB=ai_assistant_db
DB_HOST=db # Имя сервиса PostgreSQL в docker-compose
DB_PORT=5432
